.itemContainer{
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    font-family: Polysans, sans-serif;
}

.itemImage{
    max-width: 100%;
    height: auto;
}

.itemText{
  font-family: 'Arial', sans-serif; 
  font-size: 18px; 
  color: #333; 
  line-height:1.6;
  text-align: justify; 
  margin: 20px 0;
  overflow: hidden;
  text-align: center;
}

.itemButton{
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 10px 20px; 
  font-weight: 600;
  text-align: center; 
  text-decoration: none; 
  font-size: 16px; 
  font-family: Arial, sans-serif; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: all 0.3s ease;
}

.itemContent{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    color: #393e46;
}

.buttonContainer{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;

}